<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="container">
<h1>Hello world</h1>
<app-post-form
(onAdd)="updatePosts($event)"
>
</app-post-form>
<hr>
<app-post
 *ngFor="let p of posts"
 [myPost]="p"
 >
 <small *ngIf="p.text.length > 10; else short">Пост длинный</small>
 <ng-template #short>
   <small>Пост короткий</small>
 </ng-template>
</app-post>
</div>

